<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script> -->
  </head>
  <body>
  <form name="go_home" method="GET" action="/home">
    <input type="submit" value="Go Home">
  </form>
  <h1>Fish Length</h1>
  <p>Explore fish lengths across MPAs and REF (reference) areas for different regions aggregated within those areas.</p>  
  <form name="form1" method="POST" action='/fish/length/map/area'>
    <h3>Start Date. {{ form.start_date (class= "datepicker", value = default_start)}}
    &nbsp End Date. {{ form.end_date (class= "datepicker", value = default_end)}} </h3>
    <h3>Fish Species Name. {{ form.fish_name}}</h3>
    <input formaction="/fish/length/map/area" type="submit" value="Get Map">
    <input formaction="/fish/length/table/area" type="submit" value="Get Table">
    </form>

<!-- Table -->
  <div>
    {{ table | safe }}
  </div>
<!-- Map -->
</body>
  {{ plt_html | safe }}
</html>

<!-- Chart -->
  <div>
    <div>
      <div id = "chart1" style = "width: 50%; height: 200px;">
      </div>
    </div>
  </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    var graph1 = {{ graphJSON | safe }};
    Plotly.plot("chart1", graph1, {})
  </script>
