<form method="POST" action="/fish/length">
  <select name="fish" method="POST" action="/fish/length">
    <option value="{{fishes[1]}}" selected>{{fishes[1]}}</option>
    {% for fish in fishes[0][1:] %}
      <option value="{{fish}}">{{fish}}</option>
    {% endfor %}
    <input type="submit" value="Select Fish">
  <select name="start_date" method="POST" action="/fish/length">
    <option value="{{dates[1]}}" selected>{{dates[1]}}</option>
    {% for start_date in dates[0][1:] %}
      <option value="{{start_date}}">{{start_date}}</option>
    {% endfor %}
    <input type="submit" value="Select start_date">
  </select>  
</select>
</form>
<!-- Table -->
<html>
  <body>
    <div>
      {{ table | safe }}
    </div>
  </body>
</html>